/* font-family: 'Playfair Display', serif; */
/* font-family: 'Roboto', sans-serif; */

menu {
    display: block;
    margin: 0 auto;
    width: 700px;
}
li {
    list-style-type: none;
    display: inline-block;
    margin: 43px;
    margin-bottom: 0;
    font-size: 14px;
}
li:hover {
    color: royalblue;
}
.conteiner {
    width: 940px;
    margin: 0 auto; 
}
.box1 {
      margin-top: 100px;
       margin-right: 48px;
    width: 420px;
    height: 280px;
    display: inline-block;
    ffont-family: 'Jost', sans-serif;
}
.box2 {
      margin-top: 100px;
       margin-left: 48px;
    width: 420px;
    height: 280px;
    display: inline-block;
    font-family: 
}
 .tool1 { 
  text-align: justify;
  font-family: 'Playfair Display';
 }
 .button {
     width: 85px;
     margin: 50px;
     height: 20px;
     display: inline-block;
     border: 1px solid #000000;
     padding: 20px 40px;
     text-align: center;
     cursor: pointer;
     position: relative;
     left: 48%;
     transform: translate(-50%, 0); 
 }
 .underline {
     font-family:  'Roboto';
 }
 .title {
     font-family: 'Playfair Display';
 }





 


