

menu {
    display: block;
    margin: 0 auto;
    width: 700px;
}

li {
    list-style-type: none;
    display: inline-block;
    margin: 43px;
    font-size: 18px;
}

li:hover {
    color: royalblue;
}

.conteiner {
    width: 920px;
    margin: 0 auto;

   
   
}


.box1 {
    /* margin: 106px 61px 30px 150px; */
    margin-top: 100px;
    /* margin-left: 20%; */
    margin-right: 48px;
    width: 400px;
    height: 300px;
    display: inline-block;
    font-family: 'Balsamiq Sans', cursive;
  

    ;
   
}

.box2 {
    /* margin: 106px 150px 30px 61px;  */
    margin-top: 100px;
    /* margin-right: 20%; */
    margin-left: 48px;
    width: 400px;
    height: 300px;
    display: inline-block;
    font-family: 'Balsamiq Sans', cursive;
   
}

 .tool1 { 
  text-align: justify;
 }

 .button {
     width: 85px;
     margin: 50px;
     height: 20px;
     display: inline-block;
     border: 1px solid #000000;
     padding: 20px 40px;
     text-align: center;
     cursor: pointer;
     position: relative;
     left: 48%;
     transform: translate(-50%, 0); 
 }
 /* .box1.box2 {
     position: absolute;
 } */





 


